@import '../../../assets/styles/common/variables';


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    font-family: $main-font;

    &-header {
        margin: 2rem 0;

    }

    &-form {
        .form {

            &-mail,
            &-pass {
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;

                input {
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 1px solid lightblue;
                }
            }

            &-buttons {
                display: flex;
                justify-content: center;
                margin-top: 0.5rem;

                &-signup {
                    background-color: $primary-color;
                    color: white;
                    padding: 1rem;
                    border:none;
                    border-radius: 1rem;
                    cursor: pointer;
                }
                &-signup:active{
                    transform: translateY(4px);
                }
            }
        }
    }
}