<div class="container">
  <div class="container-header">
    <h1>Registrate como usuario</h1>
  </div>
  <div class="container-form">
    <form class="form">
      <div class="form-mail">
        <label for="email">Email</label>
        <input type="text" name="email" formControlName="email" />
      </div>
      <div class="form-pass">
        <label for="password">Password</label>
        <input type="text" name="password" formControlName="password" />
      </div>
      <div></div>
      <div class="form-buttons">
        <button class="form-buttons-signup btn">Sign up</button>
      </div>
    </form>
  </div>
</div>
