
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
//Palette

$primary-color: #22577A;
$secondary-color: #38A3A5;
$accent-color: #57CC99;
$accent-second-color: #80ED99;
$white:#F5F5F5;


//Fonts
$main-font: "Source Sans Pro", sans-serif;



//media queries
$mq-desktop: 1440px;
$mq-tablet: 768px;