@import '../../../assets/styles/common/variables';


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(98vw - 2rem);
    padding: 1rem;
 
    font-family: $main-font;
    
    &-header {
        margin: 0.5rem 0;
        text-align: center;
    }

    &-form {
        margin-bottom: 2rem;

        .form {

            &-mail,
            &-pass {
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;

                input {
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 1px solid lightblue;
                }
            }

            &-buttons {
                display: flex;
                justify-content: center;
                margin-top: 0.5rem;
                margin-bottom: 1rem;

                &-login {
                    background-color: $primary-color;
                    width: 60%;
                    border: none;
                    border-radius: 1rem;
                    padding: 0.5rem;
                    color: $white;
                    cursor: pointer;
                }
            }
            
        }
    }
    
    &-google {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &-title {
            align-self: center;
            width: 70%;
            text-align: center;
        }
        
        &-btn {
            margin-top: 1rem;
            align-self: center;
            background-color: $primary-color;
            width: 30%;
            border:none;
            border-radius: 1rem;
            padding: 0.5rem;
            color:$white;
            cursor: pointer;
        }
    }
    &-register{
        margin-top: 2rem;
        a{
            color:$primary-color;
        }
    }
}
