<div class="container">
  <div class="container-header">
    <h1>Haz tu login y empieza con tus tareas</h1>
  </div>
  <div class="container-form">
    <form class="form">
      <div class="form-mail">
        <label for="email">Email</label>
        <input type="text" name="email" formControlName="email" />
      </div>
      <div class="form-pass">
        <label for="password">Password</label>
        <input type="text" name="password" formControlName="password" />
      </div>
      <div></div>
      <div class="form-buttons">
        <button class="form-buttons-login btn">Log in</button>
      </div>
    </form>
  </div>
  <div class="container-google">
    <h2 class="container-google-title">
      También puedes logearte con tu cuenta de google
    </h2>
    <button class="container-google-btn btn">
      <i class="fa-brands fa-google"></i>
    </button>
  </div>
  <div class="container-register">
    <h3>
      ¿No tienes cuenta?
      <span>Registrate <a>aquí</a></span>
    </h3>
  </div>
</div>
