<div class="main">
  <app-sidebar></app-sidebar>
  <div class="container">
    <h1 class="container-title">category</h1>
    <div class="container-todos-wrapper">
      <article class="container-todos-wrapper-todo">
        <div class="tasks-wrapper">
          <div class="tasks-input">
            <i class="fa-regular fa-circle-check"></i>
            <p>todo.title</p>
          </div>
          <div class="tasks-star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-trash" id="todo.id"></i>
          </div>
        </div>
        <div class="tasks-info">
          <p>todo.category</p>
          <i class="fa-solid fa-circle fa-xs"></i>
          <p>todo.list</p>
        </div>
      </article>
    </div>
  </div>
</div>
