@import '../common/variables';

.navbar{
    font-family: $main-font;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:$white;
   
    &-title{
        margin-left: 5rem;
        cursor: pointer;
    }
        &-title:hover{
            color:black
        }
    &-icons{
        display: flex;
        gap:2rem;
        margin-right: 4rem;
        cursor: pointer;
        // position: absolute;
        // right: 0;
        i:hover {
            color: black;
        }
    }       
}
// [tooltip]{
//     position: relative;
// }
// [tooltip]::before,
// [tooltip]::after {
//     line-height: 1;
//     user-select: none;
//     pointer-events: none;
//     position: absolute;
//     display: none;
//     opacity: 0;

//     text-transform: none;
//     font-size: .9rem;
// }
// [tooltip]::before {
//     content: '';
//     z-index: 1001;
//     border: 5px solid transparent;
// }
// [tooltip]::after {
//     content: attr(tooltip);
//     /* magic! */
//     z-index: 1000;

//     /* most of the rest of this is opinion */
//     font-family: Helvetica, sans-serif;
//     text-align: center;

//     /* 
// Let the content set the size of the tooltips 
// but this will also keep them from being obnoxious 
// */
//     min-width: 3em;
//     max-width: 21em;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;

//     /* visible design of the tooltip bubbles */
//     padding: 1ch 1.5ch;
//     border-radius: .3ch;
//     box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
//     background: #333;
//     color: #fff;
// }
// [tooltip]:hover::before,
// [tooltip]:hover::after {
//     display: block;
// }
// [tooltip='']::before,
// [tooltip='']::after {
//     display: none !important;
// }

// /* ONLY the ::before */
// [tooltip]:not([flow])::before,
// [tooltip][flow^="up"]::before {
//     bottom: 100%;
//     border-bottom-width: 0;
//     border-top-color: #333;
// }

// /* ONLY the ::after */
// [tooltip]:not([flow])::after,
// [tooltip][flow^="up"]::after {
//     bottom: calc(100% + 5px);
// }

// /* Both ::before & ::after */
// [tooltip]:not([flow])::before,
// [tooltip]:not([flow])::after,
// [tooltip][flow^="up"]::before,
// [tooltip][flow^="up"]::after {
//     left: 50%;
//     transform: translate(-50%, -.5em);
// }
// @keyframes tooltips-vert {
//     to {
//         opacity: .9;
//         transform: translate(-50%, 0);
//     }
// }

// @keyframes tooltips-horz {
//     to {
//         opacity: .9;
//         transform: translate(0, -50%);
//     }
// }
// [tooltip]:not([flow]):hover::before,
// [tooltip]:not([flow]):hover::after,
// [tooltip][flow^="up"]:hover::before,
// [tooltip][flow^="up"]:hover::after,
// [tooltip][flow^="down"]:hover::before,
// [tooltip][flow^="down"]:hover::after {
//     animation:
//         tooltips-vert 300ms ease-out forwards;
// }

// [tooltip][flow^="left"]:hover::before,
// [tooltip][flow^="left"]:hover::after,
// [tooltip][flow^="right"]:hover::before,
// [tooltip][flow^="right"]:hover::after {
//     animation:
//         tooltips-horz 300ms ease-out forwards;
// }